body{
    /* background-color: aquamarine; */
     background-color: rgb(145, 145, 244);
}
.text-of-drop{
        font-size: small;
    color: #b9b7b7;
}

.dropContainer{
    background-color: rgb(145, 145, 244);
}
.dropdown{
    width: 382px;
    height: 217px;
    border-radius: 6px;
    background-color: #ffff;
    margin: 73px auto 20px auto;
    padding: 10px;
    box-shadow: 1px 1px 19px 1px;
}
#styleforDrag{
    background-color: #918c8c;
    color: #785e5e;
}
label{
        background-color: rgb(214, 184, 162);
    /* border: 1px solid; */
    cursor: pointer;
    padding: 2px 14px 2px 11px;
    margin-bottom: 20px;
    border-radius: 6px;
    ;
}
.lablename{
  display: inline-block;
    position: relative;
    bottom: 2px;
    left: 4px;
}
.UPLODElogoDiv{
   display: inline-block;
    position: relative;
    top: 5px;
}